/* "relative    h-[300px] sm:h-[450px] md:h-[500px] lg:h-[600px] xl:h-[800px] flex items-center" */
/* text-white font-light text-3xl sm:text-[45px] md:text-[55px] leading-none */
/* text-white font-light text-md sm:text-lg tracking-4 mt-2 sm:mt-4 */

.heroBackground{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    max-width: 100%;
    padding-bottom: 20%;
    align-items: center;
    background-image: url("../../images/hero-bg.jpg");

}

.heroBackground2{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    max-width: 100%;
    padding-bottom: 20%;
    align-items: center;
}

.shape{
    visibility: hidden;
}

.name{
    color: #f3f2f2;
    display: flex;
    top: 50%;
    /* font-weight: lighter; */
    font-size: 1.875rem; /* 30px */
    line-height: 1; /* 36px */
    text-align: center;
    /* align-content: center; */
    justify-content: center;
}

.profession{
        
    color: #f3f2f2;
    display: flex;
    top: 50%;
    /* font-weight: lighter; */
    font-size: 1.875rem; /* 30px */
    align-content: center;
    justify-content: center;
}

.container{
    margin: 0;
    background-color: #202020;
  }
