.header {
  margin: 0;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
    transition-duration: 400ms;
    padding: 2px;
  }

.container{
  margin: 0;
  background-color: #202020;
}

.subHeader{
  margin: 0;
  flex: auto;
  justify-content: space-between;
  align-items: center;
}

