

.item {
    background-color: "#202020";
    color: white;
}

.boxes{
    background-color: #202020; 
    width: 200px; 
    height:10px; 
    margin: 10px; 
    text-align: center; 
    font-size: 14px; 
    font-family: "Montserrat", Times, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    list-style: none;
}

.ect{
    justify-content: space-between;
    top: 0;
    padding: 10px;
    float: right;
}