
* {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}



.website-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: black;
    
    .content-container {
        margin: 20px;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        display: flex;
        flex-direction: row;
        padding: 20px;
        z-index: 1;
        width: 100%;
        

        .display-manager {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            flex-grow: 1;
        }
    }
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .website-container .content-container {
        margin: 40px;
      padding: 40px;
    }
  }